body{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.bold{
	font-weight: bold;
}

.row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	min-height:25px;
}
.row .col{
	flex: 1 1 auto;
	vertical-align:middle;
}

.row .col:hover {
	background-color: #ccc;
}

.row .col.col-20{
	flex-basis: 20%;
}
.row .col.col-50{
	flex-basis: 50%;
}


.textfield {
	width: 250px;
	padding: 3px 5px 3px 5px;
	margin-bottom: 2px;
}

.err_msg {
	color: #e22910;
	display: none;
	margin-bottom: 2px;
}

.mw100 {
	min-width: 100px;
}

#welcomeMsg {
	display:none;
	padding: 10px;
}

div#background_container {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition-property: opacity;
    transition-duration: 1s;
}

#loginPanel {
    background: #fff;
    position: fixed;
	top: 0;
    right: 0;
    float: right;
    height: 100%;
    width: 350px;
    margin: 0;
    padding-top: 10px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

#footer {
    position: absolute;
    width: 80%;
    bottom: 0;
    right: 0;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
    font-size: 12px;
	color: #767676
}

#rooms-container {
	padding: 10px;
}

#rooms {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

#rooms td, #rooms th {
    border: 1px solid #ddd;
    padding: 8px;
}

#rooms tr:nth-child(even){background-color: #f2f2f2;}

#rooms tr:hover {background-color: #ddd;}

#rooms th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0087D7;
    color: white;
}
#rooms .booked{
    color: #ff0000;
}

.text-center{
    text-align: center;
}
